<!DOCTYPE html>
<html>
  <head>
    <title>Réinitialisation du mot de passe</title>
  </head>
  <body>
    <h1>Réinitialisation du mot de passe</h1>
    <form method="POST">
      <label for="new_password">Nouveau mot de passe:</label>
      <input type="password" name="new_password" required>
      <button type="submit">Valider</button>
    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </body>
</html>
